<div class='prime'>
  <% if @home %>
    <a href="/artworks/new" >[Add]</a>
  <% else %>
    <% if @selected_artist.nil? %>
      <a href="/artworks?show=random" >[Next]</a>
    <% else %>
      <a href="/lovers/<%= @selected_artist.id %>"><%= @selected_artist.alias %></a>
    <% end %>
  <% end %>
</div>
<% @artworks.each do |artwork| %>
  <section class='artwork'>
    <a href="/artworks/<%= artwork.id %>"><img src="<%= artwork.image_url %>"></a>
    <p><%= artwork.title %></p>
    <% if !@home && @selected_artist.nil? %>
      <p>By <a href="/lovers/<%= artwork.artist.id %>"><%= artwork.artist.alias %></a>
    <% end %>
    <%= erb :'artworks/_like', locals: {home: @home, artwork: artwork} %>
  </section>
<% end %>
